@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

:root {
    --dark-blue: #00171F;
    --middle-blue: #003459;
    --light-blue: #00A8E8;
    --white: #FEFEFE;
    
    --font-title: 'Encode Sans Expanded', sans-serif;
    --font-subtitle: 'Source Code Pro', monospace;
}

/* pra usar as cores e fontes, faca assim:
color: var(--dark-blue); 
background-color: var(--white);
font-family: var(--font-title);
*/

.operacoes{
    padding: 5% 10% 20%;
    background-color: var(--middle-blue);
}

.operacoes__title{
    font-family: var(--font-title);
    color: var(--white);
    text-align: center;
    font-size: 40px;
}

.operacoes__texto{
    font-family: var(--font-subtitle);
    color:var(--white);
    text-align: center;
    padding: 3.6%;
    font-size: 20px;
}

.operacoes__lista{
    list-style: none;
    display: flex; 
    justify-content: space-between; 
    border-top: 15px solid transparent;
    font-family: var(--font-subtitle);
    color: #90A3BF;
    border-bottom: 30px solid transparent;
    font-size: 22px;
}

.operacoes__lista li {
    width: calc(22% - 10 px);
    margin-right: 10px;
}

li:hover {
    cursor: pointer;
    color: var(--white);
  }

.operacoes__linha {
    border: none; 
    height: 1px; 
    width: 100%;
    background-color: #90A3BF; 
  }

.operacoes__imagens {
    border-top: 80px solid transparent;
    display: flex; 
    justify-content: space-between;
  }
  
.operacoes__imagens img {
    width: calc(22% - 10px);
    margin-right: 10px;
}
