@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

:root {
    --dark-blue: #00171F;
    --middle-blue: #003459;
    --light-blue: #00A8E8;
    --white: #FEFEFE;
    
    --font-title: 'Encode Sans Expanded', sans-serif;
    --font-subtitle: 'Source Code Pro', monospace;
}

/* pra usar as cores e fontes, faca assim:
color: var(--dark-blue); 
background-color: var(--white);
font-family: var(--font-title);
*/

.operacoes{
    padding: 5% 10% 34%;
    background-color: var(--middle-blue);
}

.operacoes__title{
    font-family: var(--font-title);
    color: var(--white);
    text-align: center;
    font-size:40px;
}

.operacoes__texto{
    font-family: var(--font-subtitle);
    color:var(--white);
    text-align: center;
    padding: 3.5%;
}